<nav ng-controller="HeaderCtrl" class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a href="/home" class="navbar-brand">Visão Geral</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ng-class="{ active: isActive('/home')}"><a href="/home">Home</a></li>
                 <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                        aria-haspopup="true" aria-expanded="false">Cadastros <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li style="height:40px;"><a style="height:40px; font-size: 16px;" 
                            href="/municipio"><i class="fa fa-map" aria-hidden="true"></i>  Municípios</a></li>
                        <li style="height:40px;"><a style="height:40px; font-size: 16px;" 
                            href="/estado"><i class="fa fa-map" aria-hidden="true"></i>  Estados</a></li>
                        <li style="height:40px;"><a style="height:40px; font-size: 16px;"
                            href="/proposta"><i class="fa fa-map" aria-hidden="true"></i>  Propostas</a></li>
                        <li style="height:40px;"><a style="height:40px; font-size: 16px;"
                            href="/participante"><i class="fa fa-map" aria-hidden="true"></i>  Participantes</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>